
    <link rel="stylesheet" href="/archives/form.css">
<main>
    <div class="container">
        <div>
            <h1>Criar Produto</h1>
            
        </div>
        <form action="/update" method="POST">
        <input type="hidden" name="id" value="{{product._id}}">
            <div class="inputs">
                <input type="text" name="name"  class="input" required value="{{product.name}}">
                <label>Nome do Produto</label>
            </div>
            <div class="inputs">
                <input type="number" name="price"  class="input" required min="0" step="0.01" value="{{product.price}}">
                <label>Preco do Produto</label>
            </div>
            <div class="inputs">
                <input type="number" name="amount"  class="input" required min="0" step="1" value="{{product.amount}}">
                <label>Quantidade do Produto No Estoque</label>
            </div>
            <div class="inputs">
                <input type="text" name="description"  class="input textarea" required placeholder="Descreva o Produto" value="{{product.description}}"> 
            </div>
            <button type="submit">Criar</button>
        </form>
    </div>
</main> 